head{
    color: aquamarine;
    position: relative;
}

h1{
    position: relative;
    text-align: center;
    background-color: rgb(255, 215, 242);
    font-family:sans-serif;
}
h2{
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(252, 215, 220);

}
nav {
    display: inline-block;
    position: relative;
  }
li{
    display: inline-block;
    position: relative;
    padding: 10px;
}
.boton-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .boton-whatsapp a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25d366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  .selector-talles{
    position: relative;
    top: 10px;
    left: 1000px;
  }
  .Derechos{
    position: relative;
    top: 10px;
    left: 500px;
  }
.Detallesgeneral{
position: relative;
bottom: 550px;
left: 650px;
}
